<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        
        <%- include('partials/header.ejs') %>
    </header>


    <main>
        <div>
            <h3>tell me a joke</h3>
            <form action="/joke" method="post">
                <button type="submit">submit</button>
            </form>
         
        </div>


        <div>
            <h3>to check the weather</h3>
            <form action="/weather" method="post">
                <button type="submit">submit</button>
            </form>
        </div>
    </main>


    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
</body>
</html>