<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/api.css">
</head>
<body>


    <main>
        <div>
            <% if (locals.joke) {%>
            <h1><%= joke %></h1>
            <% } else { %>
            <h1>press the button to get a joke</h1>
            <% } %>
        </div>

        <form action="/joke" method="post">
            <button type="submit">Click me</button>
        </form>
    </main>
    
</body>
</html>